@model IEnumerable<Stomachco.Models.Coffee>

@{
    ViewData["Title"] = "Index";
}

<h3>Coffees DashBoard</h3>

<div class="d-flex justify-content-between">
    <p>
        <a asp-action="Create" class="btn btn-danger m-2">Create New</a>
        <a asp-action="AllCoffees" class="btn btn-danger m-2">All Coffees</a>


    </p>
    <p>
        <a asp-action="Deleted" class="btn btn-danger m-2">Deleted</a>

        <a asp-action="Abroved" class="btn btn-danger m-2">Abroved</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CofeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CofeDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoffeeImage)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CofeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CofeDescription)
            </td>
            <td>
                    <img width="100" height="100" src="@Url.Content(item.CoffeeImage)" alt="Restaurant Photo" />
            </td>
           
            <td>
                    <a asp-action="Edit" asp-route-id="@item.CoffeeId" class="btn btn-danger">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CoffeeId" class="btn btn-dark">Details</a> |
                    <a asp-action="SoftDelete" asp-route-id="@item.CoffeeId" class="btn btn-warning">Soft Delete</a> |
                    <a asp-action="UnPublished" asp-route-id="@item.CoffeeId" class="btn btn-outline-danger">UnPublished</a>
            </td>
        </tr>
}
    </tbody>
</table>
